h1 {
  font-size: 32px;
  margin-top: 30px;
  font-family: "Oswald", sans-serif;
  text-align: center;
}

.blog_card {
  @include transition(0.3s);
  max-width: 300px;
  margin: 15px;
  background: #fff;
  border: 1px solid #cb6074;
  text-align: center;
  cursor: pointer;
  &:hover {
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
    .card-img {
      img {
        opacity: 0.8;
      }
    }
  }
}

.card_img {
  position: relative;
  text-align: center;
  background: #cb6074;
  img {
    @include transition(0.3s);
    max-height: 180px;
    width: 100%;
    border-bottom: 4px solid #cb6074;
  }
  &:before {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 50%;
    margin-left: -10px;
    width: 0;
    height: 0;
    border-top: solid 10px #cb6074;
    border-left: solid 10px transparent;
    border-right: solid 10px transparent;
  }
  h1 {
    position: absolute;
    margin: 0;
    font-size: 42px;
    bottom: 15px;
    width: 100%;
    color: #fff;
    font-family: "Slabo 27px", serif;
  }
}
.card_details {
  margin-top: 30px;
  font-family: "Roboto", sans-serif;
  color: #3c3c3c;
  span {
    padding: 0 30px;
    i {
      margin-right: 5px;
    }
  }
}
.card_text {
  padding: 30px 15px;
  font-family: "Roboto", sans-serif;
  line-height: 22px;
}
