#nav {
  display: flex;
  flex-direction: column;
  span {
    flex: 1;
  }
}

#main_nav li {
  list-style: none;
  display: inline-block;
  margin-right: 5px;
  position: relative;
}

@media screen and (min-width: 768px) {
  #nav {
    height: 40px;
    display: flex;
    flex-direction: row;
    span {
      flex: 1;
      &:nth-child(1) {
        flex: 2;
      }
    }
  }
}
